/* General & Style */
*{
box-sizing: border-box;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 50%;
}

img.rounded{
  width: 50%;
  border-radius: 8px;
}

#about {
  background-color: #C2B2B4;
}

/* Header,Footer, Nav & Main*/
header {
  display: block;
  background-color: #223843;
  border-bottom: 3px solid #f15025ff;
  border-top: 3px solid #f15025ff;
}

header h1{
  color: #F5EDF0;
  font-size: 36px;
  text-align: center;
  font-family: Merriweather, sans, sans-serif;
}

header nav{
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav ul li{
  list-style-type: none;
}

header nav ul li a{
  text-decoration: none;
  padding: 0 20px 0 0;
  color: #F5EDF0;
}

header nav ul li a:hover{
  color: #f15025ff;
  text-decoration: none;
}

main{
  background-color: #F5EDF0;
  color: #223843;
}

footer{
  display: block;
  color: #F5EDF0;
  background-color: #223843;
  text-align: center;
  border-bottom: 3px solid #f15025ff;
  border-top: 3px solid #f15025ff;
}

h1 h2 h3{
  font-family: Merriweather, sans, sans-serif;
}

p{
  font-family: Open-Sans, sans, sans-serif;
}


/* Groups & Items - Mobile */
.wrapper{
  width: 100%;
}

.group{
  display: flex;
  flex-direction: column;
}

.item{
  flex: 1;
  margin: 10px
}

.item-double{
  flex: 2;
  margin: 10px;
}

/* Groups & Items - Desktop */
@media all and (min-width: 600px) {
  .wrapper{
    width: 80%;
    margin: auto;
  }

  .group{
   flex-direction: row;
  } 
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  header h1 {
    padding-left: 25px;
  }
  
  header nav {
    margin-top: 20px;
  }
}

/* pseudo classes */
a:link{
  font-family: Open-Sans, sans, sans-serif;
  text-decoration: none;
  font-size: 16px;
}
a:visted{
  font-family: Open-Sans, sans, sans-serif;
  text-decoration: none;
  font-size: 16px;
}

a:hover{
  font-family: Open-Sans, sans, sans-serif;
  color: #f15025ff;
  text-decoration: none;
  font-size: 16px;
}

a:active{
  font-family: Open-Sans, sans, sans-serif;
  color: #C2B2B4;
  font-size: 16px;
}

/* Text field, Text Area, and Input styling */
form label{
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

form input,
form textarea{
 width: 100%;
}

form textarea{
  height: 76px;
  font-size: 16px;
  margin-bottom: 20px;
}

form input[type=text]{
  color: #000000;
  font-size: 16px;
  margin-bottom: 20px;
}
